* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --position-x: 50%;
  --position-y: 50%;
}

body, html {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#container::before {
  content: '';
  position: absolute;
  background-image: url(./assets/bg-lines.svg);
  background-repeat: no-repeat;
  background-size: 200vw 200vh;
  background-position-x: var(--position-x, 50%);
  background-position-y: var(--position-y, 50%);
  background-blend-mode: darken;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#game {
  display: none;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.game-info {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  align-self: center;
  gap: 50px;
}

.game-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-weight: normal;
}

.game-info div span {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#grid {
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 5px;
  background-color: hsl(33, 97%, 40%);
  margin: auto;
}

@media (max-width: 480px) {
  #grid {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #grid {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 769px) {
  #grid {
    height: 500px;
    width: 500px;
  }
}

.grid-item[data-rotate="0"]:before {
  transform: rotate(0deg);
}

.grid-item[data-rotate="90"]:before {
  transform: rotate(90deg);
}

.grid-item[data-rotate="180"]:before {
  transform: rotate(180deg);
}

.grid-item[data-rotate="270"]:before {
  transform: rotate(270deg);
}

.grid-item[data-type]:before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item[data-type="head"]:before {
  background-image: url('./assets/head.svg');
}

.grid-item[data-type="body"]:before {
  background-image: url('./assets/body.svg');
}

.grid-item[data-type="curve"]:before {
  background-image: url('./assets/curve.svg');
}

.grid-item[data-type="tail"]:before {
  background-image: url('./assets/tail.svg');
}

.grid-item[data-type="food"]:before {
  background-image: url('./assets/apple.svg');
}

.grid-item[data-type="treasure"]:before {
  background-image: url('./assets/treasure.svg');
}

.grid-item {
  position: absolute;
  /* border: 0.1px solid black; */
}

#start-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-menu div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 5rem;
}

button {
  border: none;
  background-color: hsl(41, 89%, 52%);
  box-shadow: 0px 0px 5px hsl(0, 0%, 27%);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(41, 100%, 50%);
}