* {
  font-family: "Micro 5", Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
  margin: 0px;
  padding: 0px;
}

#container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #7BA283;
}

#game {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(./assets/phone.svg);
  background-size: 400px auto;
  background-position-x: 50%;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 0px 10px rgb(0 0 0 / 0.5)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  grid-template-rows: 213px 0px;
  z-index: 10;
}

.game-info {
  color: black;
  display: flex;
  gap: 50px;
  align-self: flex-end;
  justify-self: center;
  justify-content: space-around;
  top: 50px;
  position: relative;
  z-index: inherit;
  width: 350px;
}

.game-info div {
  font-size: 30px;
  font-weight: bold;
  /* font-family: 'Courier New', Courier, monospace; */
}

.glass {
  border-radius: 20px;
  margin: auto;
  display: grid;
  height: 234px;
  width: 281px;
  padding-top: 10px;
  background-image: url(./assets/glass.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: saturate(2);
}

#grid {
  z-index: 2;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 1fr));
  padding: 50px 10px 10px 10px;
  height: 170px;
  width: 260px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.grid-item[data-rotate="0"]:before {
  transform: rotate(0deg);
}

.grid-item[data-rotate="90"]:before {
  transform: rotate(90deg);
}

.grid-item[data-rotate="180"]:not([data-type="head"]):before {
  transform: rotate(180deg);
}

.grid-item[data-rotate="270"]:before {
  transform: rotate(270deg);
}
.grid-item[data-rotate="180"][data-type="head"]:before {
  transform: scaleX(-1);
}

.grid-item[data-type]:before {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-item[data-type="head"]:before {
  background-image: url('./assets/head.svg');
}

.grid-item[data-type="body"]:before {
  background-image: url('./assets/body.svg');
}

.grid-item[data-type="curve"]:before {
  background-image: url('./assets/curve.svg');
}

.grid-item[data-type="tail"]:before {
  background-image: url('./assets/tail.svg');
}

.grid-item[data-type="food"]:before {
  background-image: url('./assets/food.svg');
}

.grid-item[data-type="treasure"]:before {
  background-image: url('./assets/treasure.svg');
}

.grid-item {
  position: relative;
  filter: invert();
  /* border: 0.1px solid black; */
}

#start-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-menu div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 10rem;
}

button {
  border: none;
  background-color: #7BA283;
  filter: saturate(1.5);
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7BA283;
  filter: saturate(2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}